# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
dist

# misc
.DS_Store
npm-debug.log

# video files except test video
**/*.mp4
**/*.ts
**/*.m3u8
!**/test_video.mp4
!**/test_video.ts
!**/test_video.m3u8